<style>
    #pane {
        position: relative;
        width: 600px;
        height: 600px;
        border: 2px solid red;
    }

    #box {
        position: absolute;
        top: 140px;
        left: 140px;
    }

        #box svg {
            width: 100px;
            height: 100px;
        }
</style>

<div>
    <div id="pane">
        <div id="box">
            <i class="fa-solid fa-cat"></i>
        </div>
    </div>
</div>

<script src="~/lib/jquery/jquery.js"></script>
<script type="text/javascript">
    var pane = $('#pane'),
        box = $('#box'),
        maxValue = pane.width() - box.width(),
        keysPressed = {},
        distancePerIteration = 3;

    function calculateNewValue(oldValue, keyCode1, keyCode2) {
        var newValue = parseInt(oldValue, 10)
            - (keysPressed[keyCode1] ? distancePerIteration : 0)
            + (keysPressed[keyCode2] ? distancePerIteration : 0);
        return newValue < 0 ? 0 : newValue > maxValue ? maxValue : newValue;
    }

    $(window).keydown(function (event) { keysPressed[event.which] = true; });
    $(window).keyup(function (event) { keysPressed[event.which] = false; });

    setInterval(function () {
        box.css({
            left: function (index, oldValue) {
                return calculateNewValue(oldValue, 37, 39);
            },
            top: function (index, oldValue) {
                return calculateNewValue(oldValue, 38, 40);
            }
        });
    }, 20);
</script>